.App {
  text-align: center;
  background: #159957;  
  background: -webkit-linear-gradient(to right, #155799, #159957); 
  background: linear-gradient(to right, #155799, #159957); 
  border-radius: 5px;
  box-shadow: 3px 3px 10px #ffffff, -3px -3px 10px #ffffff;
}
