.App {
  text-align: center;
  background: #159957;  
  background: -webkit-linear-gradient(to right, #155799, #159957); 
  background: linear-gradient(to right, #155799, #159957); 
  border-radius: 5px;
  box-shadow: 2px 5px 15px grey ;
}
